.background-color-HEX{
    background-color:#ff1234 ;
}
.background-color-RGB{
    color: white;
    background-color: rgb(123,0,0);
}
.background-color-RGBA{
    background-color: rgba(0,133,0,.3);
}
.background-color-HSL{
    background-color: hsl(10, 80%, 80%);
}
.background-color-HSLA{
    background-color: hsla(188, 90%, 60%, .3);
}
.background-color-Predefine{
    background-color: skyblue;
}
.background-color-currentcolor{
    color: darkkhaki;
    border: 12mm solid currentColor;
}
.background-color{
    background-color: ;
}
/* text-align */
div.text-align-center{text-align: center;}
div.text-align-left{text-align: left;}
div.text-align-right{text-align: right;}
div.text-align-end{text-align: end;}
div.text-align-justify{text-align: justify;}
div.text-align-start{text-align: start;}
div.text-align-initial{text-align: initial;}
div.text-align-inherit{text-align: inherit;}
div.text-align-unset{text-align: unset;}

/* text-shadow */
h2.text-shadow1{text-shadow: 1mm 5mm red;}
h2.text-shadow2{text-shadow: 1mm 5mm 10mm blue;}
h2.text-shadow3{text-shadow: 1mm 1mm 1mm green;}

/* vertical-align */
span.vertical-align-auto{vertical-align: auto; background-color: yellow; }
span.vertical-align-baseline{vertical-align: baseline; background-color: yellow; }
span.vertical-align-middle{vertical-align: middle ; background-color: yellow; }
span.vertical-align-bottom{vertical-align: bottom ; background-color: yellow; }
span.vertical-align-sub{vertical-align: sub ; background-color: yellow; }
span.vertical-align-super{vertical-align: super ; background-color: yellow; }
span.vertical-align-bottom{vertical-align: text-bottom ; background-color: yellow; }
span.vertical-align-text-top{vertical-align: text-top ; background-color: yellow; }
span.vertical-align-top{vertical-align: top ; background-color: yellow; }
span.vertical-align-initial{vertical-align: initial ; background-color: yellow; }
span.vertical-align-inherit{vertical-align: inherit ; background-color: yellow; }
span.vertical-align-unset{vertical-align: unset ; background-color: yellow; }

/* Word-Space */
div.word-spaceing-narmal{word-spacing: normal;}
div.word-spaceing-initial{word-spacing: initial;}
div.word-spaceing-inherit{word-spacing: inherit;}
div.word-spaceing-1cm{word-spacing: 1cm;}
div.word-spaceing--1cm{word-spacing: -1cm;}

/* direction */
div.direction-ltr{direction: ltr;}
div.direction-rtl{direction: rtl;}

/* text-decoration */
span.text-decoration-dashed{text-decoration: dashed;}
span.text-decoration-dotted{text-decoration: dotted;}
span.text-decoration-double{text-decoration: double;}
span.text-decoration-line-through{text-decoration: line-through;}
span.text-decoration-overline{text-decoration: overline;}
span.text-decoration-solid{text-decoration: solid;}
span.text-decoration-underline{text-decoration: underline;}
span.text-decoration-wavy{text-decoration: wavy;}

/* text-decoration-color */
span.text-decoration-red-overline{text-decoration: overline; text-decoration-color: red}
span.text-decoration-green-line-through{text-decoration: line-through; text-decoration-color: green}

/* add Font */
@font-face{
    font-family: Kanit-extra;
    src: url(../Kanit/Kanit-ExtraLight.ttf);
}


span.font-face{
   font-family: Kanit-extra ; 
    font-size: 30px;
}

/* font properties */

@font-face{
    font-family: kanit;
    src: url(../Kanit/Kanit-Medium.ttf);
}
span.font-face-stlye-italic{
    font-family: Kanit;
    font-style: italic;
    font-size: large;
}

span.font-face-stlye-normal{
    font-family: Kanit;
    font-style: normal;
    font-size: larger;
}

span.font-face-stlye-oblique{
    font-family: Kanit;
    font-style: oblique;
    font-size: medium;
}

span.font-face-stlye-initial{
    font-family: Kanit;
    font-style: initial;
    font-size: xx-large;
    font-weight: bolder;
}

span.font-face-stlye-inherit{
    font-family: Kanit;
    font-style: inherit;
    font-size: xx-small;
    font-variant-east-asian: ruby ;
}

span.font-face-stlye-unset{
    font-family: Kanit-extra;
    font-style: unset;
    font-size: 1.5cm;
    font-variant: small-caps;
}

/* 
    List Properties
    ใช้ class ใน track ul
*/
/* กรอบนอก */
ul.list-style-circle {
    border: solid 1px green;
    list-style: circle;    
    list-style-position: inside;
}
/* กรอบภายใน */
ul.list-style-circle > li{
    border: solid 1px blue;
    list-style: circle;    
    list-style-position: inside;
}
li.list-style-circle{
    list-style: circle;
    border: solid 1px ;
}
li.list-style-square > ul{
    list-style: symbols();
    color: greenyellow;
}
ul.list-style-image > li{
    list-style-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Wikimedia_Community_Logo_optimized.svg/20px-Wikimedia_Community_Logo_optimized.svg.png);

}
