table.border-head1{
    color: pink;
    font-size: 15px;
    border: double 10px skyblue;
    border-radius: 5vmin;
    border-width: 10px;
}
table.border-head2{
    color: blue;
    font-size: 15px;
    border: solid indigo;
    border-radius: 2vmin;
    border-width: 1.5 px;
}
table.border-head >tr {
    color: black;
    border: indigo solid;
    border-radius: 2vmin;
    border-width: 1px;
}
tr.border-head3{
    color: pink;
    border: greenyellow solid;
    border-radius: 2vmin;
    border-width: 1px;
}
th.border-head {
    color: black;
    border: indigo solid;
    border-radius: 2vmin;
    border-width: 1px;
}
table.data,
tr.data,
th.data,
td.data {
    color: saddlebrown;
    border: solid ;
}
/* image properties */
img.header{
    border: green 5px;
    border-radius: 30%;
    width: 30%;
    opacity: 65%;
}

body.background {
    background-image: url(https://www.incimages.com/uploaded_files/image/1920x1080/getty_177269785_406021.jpg);
    background-repeat: repeat;
    background-size: 30%;
}